*{
  font-family: 'Roboto', sans-serif;
}

.box1 img{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.box5{
    display: flex;
  justify-content: center;
}

h1{
  color: #fff;
  text-align: center;
}


h5{
    color: #fff;
    text-align: center;
}

p{
    color: #fff;
    text-align: center;
}

